<div class="account-order__list">
    <table>
        <thead>
            <th>Mã đơn hàng</th>
            <th>Sản phẩm</th>
            <th>Ghi chú</th>
            <th>Tổng tiền</th>
            <th>Trạng thái</th>
            <th>Hoạt động</th>
        </thead>
        <tbody>
            <% orders.forEach(order => { %>
                <tr>
                    <td><%= order._id %></td>
                    <td class="order-product-list">
                        <% order.products.forEach(product => { %>
                            <div> <%= product.name %></div>
                        <% }) %> 
                    </td>
                    <td><%= order.message %></td>
                    <td><%= order.totalCost %></td>
                    <td><%= order.status %></td>
                    <td>
                        <a href="/invoices/<%= order._id %>" target="_blank">Hoa don</a>
                        <a href="">
                            Hủy đơn
                        </a>
                    </td>
                </tr>
            <% }) %> 
        </tbody>
    </table>
</div>