<div class="section">
    <div class="section-title">Top sản phẩm bán chạy trong tuần</div>
    <div class="section-body">
        <div class="grid-rows">
            <% hotIndexes.forEach(hotIndex => { %>
            <div class="grid-col-4">
                <div class="product-card">
                    <a href="/products/<%= products[hotIndex]._id %>">
                        <div class="product-card__image">
                            <img src="<%= products[hotIndex].images[0] %>" alt="">
                            <img src="<%= products[hotIndex].images[1] %>" alt="">
                        </div>
                        <h3 class="product-card__name"><%= products[hotIndex].name %></h3>
                        <div class="product-card__price"><%= products[hotIndex].price %></div>
                    </a>
                    <div class="product-card__btn">
                        <button class="btn btn-primary btn-small">
                            <span class="btn-txt">Chọn mua</span>
                            <span class="btn-icon">
                                <i class="bx bx-cart bx-tada"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>