<div class="member-card">
    <div class="member-card__avatar">
        <img src="<%= avatar %>" alt="" loading="lazy" />
        <div class="social-info">
            <a href="<%= facebook %>" target="_blank"><i class='bx bxl-facebook'></i></a>
            <!-- <a href="<%= twitter %>"><i class='bx bxl-twitter'></i></a> -->
            <!-- <a href="<%= linkedin %>"><i class='bx bxl-linkedin'></i></a> -->
        </div>
    </div>
    <h3 class="member-card__name">
        <%= name %>
    </h3>
</div>