<div class="section">
    <div class="section-title">Phổ biến</div>
    <div class="section-body">
        <% for (var i = 1; i <= popularIndexes.length - 3; i++) { %>
            <% if (i % 4 == 1){ %>
                <div class="grid-rows">
                    <% for (var j = i - 1; j < (i + 3); j++) { %>
                        <div class="grid-col-4">
                            <div class="product-card">
                                <a href="<%= products[popularIndexes[j]]._id %>">
                                    <div class="product-card__image">
                                        <img src="<%= products[popularIndexes[j]].images[0] %>" alt="">
                                        <img src="<%= products[popularIndexes[j]].images[1] %>" alt="">
                                    </div>
                                    <h3 class="product-card__name"><%= products[popularIndexes[j]].name %></h3>
                                    <div class="product-card__price"><%= products[popularIndexes[j]].price %></div>
                                </a>
                                <div class="product-card__btn">
                                    <button class="btn btn-primary btn-small">
                                        <span class="btn-txt">Chọn mua</span>
                                        <span class="btn-icon">
                                            <i class="bx bx-cart bx-tada"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } %>
        <% } %>
    </div>
</div>