<div id="hero-slider">
    <% slides.forEach(slide => { %>
    <div class="hero-slider__item">
        <div class="hero-slider__item-info">
            <div class="hero-slider-info__title" style="color: var(<%= slide.color %>) ;">
                <span><%= slide.title %></span>
            </div>
            <div class="hero-slider-info__description">
                <span><%= slide.description %></span>
            </div>
            <div class="hero-slider-info__btn">
                <a href="">
                    <button class="btn btn-primary btn-large" style="background-color: var(<%= slide.color %>);">
                        <a href="/products">
                            <span class="btn-txt">xem chi tiết</span>
                        </a>
                        <span class="btn-icon">
                            <i class="bx bx-cart bx-tada"></i>
                        </span>
                    </button>
                </a>
            </div>
        </div>
        <div class="hero-slider__item-image">
            <div class="shape" style="background-color: var(<%= slide.color %>);"></div>
            <img src="<%= slide.img %>" alt="<%= slide.title %>" loading="lazy" >
        </div>
    </div>
    <% }) %>
    <div class="hero-slider__control">
        <div class="hero-slider__control-item" onclick="plusSlide(-1)">
            <i class="bx bx-chevron-left"></i>
        </div>
        <div class="hero-slider__control-item">
            <div class="index">
               
            </div>
        </div>
        <div class="hero-slider__control-item" onclick="plusSlide(1)">
            <i class="bx bx-chevron-right"></i>
        </div>
    </div>
</div>