<h2>Quản lí đơn hàng</h2>
<div class="admin-orders">
	<div class="orders-action">
		<div class="action-search">
			<input type="text" placeholder="Tìm đơn hàng" />
		</div>
		<div class="action-filter">
			<i class="fas fa-filter"></i>
			Add filter
            <ul>
                <li>
                    <span>Đang chờ</span>
                </li>
                <li>
                    <span>Đã giao</span>
                </li>
            </ul>
		</div>
		<div class="total-orders">
			<i class="fas fa-box"></i>
			Tổng đơn hàng:&nbsp;
			<span>0</span>
		</div>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>STT</th>
				<th>Người nhận</th>
				<th>Sản phẩm</th>
                <th>Ngày đặt</th>
				<th>Tổng tiền</th>
				<th>Phương thức</th>
				<th>Trạng thái</th>
				<th>Hành động</th>
			</tr>
		</thead>
        <tbody>
            <% for (var i = 0; i < orders.length; i++) { %>
                <tr>
                    <td> <%= i+1 %> </td>
                    <td>
                        <span> <%= orders[i].receiverName %> </span>
                        -
                        <span> <%= orders[i].phoneNumber %> </span>
                    </td>
                    <td>
                        <%= orders[i].products.length %> sản phẩm
                    </td>
                    <td> <%= orders[i].createdAt.toLocaleDateString() %> </td>
                    <td> <%= orders[i].totalCost %> </td>
                    <td> <%= orders[i].payment == 'cod'? 'Ship cod' : 'Chuyển khoản'%> </td>
                    <td> <%= orders[i].status %> </td>
                    <td>
                        <button class="detail-order">
                            <a href="/admin/orders/<%= orders[i]._id %>">
                                Chi tiết
                            </a>
                        </button>
                        <button class="delivery-order ">
                            Giao hàng
                        </button>
                        <button class="delete-order">
                            Hủy đơn hàng
                        </button>
                    </td>
                </tr>
            <% } %>
        </tbody>
	</table>
	<div class="pagination">
	</div>
</div>

<style>
	.form-check.form-switch input {
		width: 45px;
		cursor: pointer;
	}
</style>

<script>
</script>